@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.footer {
    padding-top: 30px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-family: 'Syne Mono', monospace;
    font-weight: 300;
    font-size: 1rem;
}