table {
    width: 100%;
}

p {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}

img {
    margin-left: 120px;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: rgb(123, 69, 209);
}

.delete > i {
    color: #e51028; 
}